name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Verify Java version
        run: java -version

      - name: Verify Maven version
        run: mvn -version

      - name: Build and test with Maven (Java 21)
        run: |
          echo "Using JAVA_HOME: $JAVA_HOME"
          mvn -B clean verify --file pom.xml -Dmaven.compiler.release=21

      # Atualiza o gráfico de dependências do GitHub
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v4
        with:
          ignore-maven-wrapper: true
